*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
   display: flex;
   margin-left: 250px;
}

.col1{
    background-image: url(images/halie-west-25xggax4bSA-unsplash\ \(1\).jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 800px;
}

.col2{
    width: 400px;
    background-color: whitesmoke;
}



