*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    background-color: rgb(33, 36, 36);
    color: rgb(201, 196, 196);
}

body{
    background-color: black;
    background-image: url(images/halie-west-25xggax4bSA-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: 350px 700px;
    background-position: 30px 10px;
    
}